@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "V_311_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/jsTree.css" rel="stylesheet" />
@section scripts{
    <script src="~/js/eSyaClinicalServices/ClinicConsultant.js"></script>
    <script src="~/js/jsTree.js"></script>
}

@{
        var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}


<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');
    var localization = {
        wait: '@Localizer["wait"]',
        Save: '@Localizer["Save"]',

    };
</script>

<style>
    .jstree-anchor > .jstree-checkbox-disabled {
        display: none;
    }

    .jstree-default .jstree-disabled {
        color: #1c1b1b !important;
    }
</style>

<div class="row">
    <div class="col-lg-3 col-md-4">
        <div class="form-group">
            <label class="lable-color">@Localizer["BusinessLocation"] </label>
            <select class="selectpicker" data-live-search="true" id="cboBusinessLocation" title="Select" asp-items="@ViewBag.BusinessLocation" data-size="8" onchange="fnLoadClinicConsultantTree()"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
        <label> @Localizer["ClinicsInfo"] </label>
        <div id="jstClinicConsultantTree"></div>
    </div>

    <div class="col-lg-2 col-md-2">
        <h5>Action</h5>
        <button class="mdl-button mdl-js-button mdl-button--raised primary-button btn_wdth" id="btnSaveOPClinic" @(userFormRole.IsInsert ? "" : "disabled") onclick="fnSaveOPClinic()">
            <i class="fas fa-save"></i> @Localizer["Save"]  
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised primary-button btn_wdth" id="btnExpandAll" onclick="fnExpandAll()">
            <i class="fas fa-expand" style="color:#fff !important"></i> @Localizer["ExpandAll"]  
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised primary-button btn_wdth" id="btnCollapseAll" onclick="fnCollapseAll()">
            <i class="fas fa-compress" style="color:#fff !important"></i> @Localizer["CollapseAll"]  
        </button>
    </div>
</div>