@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="row padtop15">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <p class="subheading">@Localizer["CustomerLocation"] </p>
        <hr class="left" />
        <table id="jqgLocationDetails"></table>
        <div id="jqpLocationDetails"></div>

    </div>
</div>
<div class="row padtop15">
    <div class="col-lg-12">
        <p class="subheading">@Localizer["Location"]  <span id="lbllocationId"></span> @Localizer["StatutoryDetails"]   </p>
        <hr class="left" />
    </div>

    <div class="col-lg-12 padbot10">
        <table id="jqgStatutoryDetails"></table>
        <div id="jqpStatutoryDetails"></div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <hr />
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-back mr-10 c-white" onclick="fnCloseCustomerDetails()"><i class="fas fa-chevron-left"></i>@Localizer["Back"] </button>

        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button mr-10" id="btnSaveStatutoryDetail" onclick="fnSaveStatutorydetails()">
            <i class="fa fa-save"></i> @Localizer["Save"]  
        </button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button" id="btnCancelStatutoryDetail" onclick="fnGridRefreshCustomerStatutoryDetails()"><i class="fa fa-redo"></i>@Localizer["Clear"] </button>

    </div>
</div>