@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "V_ENC_18_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/eSyaNatureCure/PackageAmenities.js"></script>
@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}
<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');

     var localization = {
         Package: '@Localizer["Package"]',
         PackageId: '@Localizer["PackageId"]',
         PackageDescription: '@Localizer["PackageDescription"]',
         PackageAmenities: '@Localizer["PackageAmenities"]',
         SerialNumber: '@Localizer["SerialNumber"]',
         OptionValues: '@Localizer["OptionValues"]',
         OptionDesc: '@Localizer["OptionDescription"]',
         Active: '@Localizer["Active"]',
         AddPackageAmenities: '@Localizer["AddPackageAmenities"]',
         UpdatePackageAmenities: '@Localizer["UpdatePackageAmenities"]',
         ViewPackageAmenities: '@Localizer["ViewPackageAmenities"]',
         Actions: '@Localizer["Actions"]',
         Edit: '@Localizer["Edit"]',
         View: '@Localizer["View"]',
         Save: '@Localizer["Save"]',
         Update: '@Localizer["Update"]',
         Delete: '@Localizer["Delete"]',
         Activate: '@Localizer["Activate"]',
         DActivate: '@Localizer["DActivate"]',
         OptionType: '@Localizer["OptionType"]',
    };

</script>
<style>
    .bootstrap-select {
        width: 100% !important;
    }
</style>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="form-group">
            <label class="lable-color">@Localizer["Package"] </label>
            <select class="selectpicker" data-live-search="true" id="cboPackageId" title="" onchange="fnGridPackageAminities()" data-size="10">
                <option value="0"> All</option>
                @if (ViewBag.Packages != null)
                {
                    foreach (var pkg in ViewBag.Packages)
                    {
                        <option value="@pkg.PackageId">@pkg.PackageDesc</option>
                    }

                }
            </select>
        </div>
    </div>
</div>

<div class="row padbot10">
    <div class="col-lg-12 col-md-12 col-sm-12 PackageAmenitiescontainer">
        <table id="jqgPackageAmenities"></table>
        <div id="jqpPackageAmenities"></div>
    </div>
</div>

<div class="modal fade in" id="PopupPackageAmenities" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style="box-shadow:none;">
        <div class="modal-content">
            <div class="modal-header popupHeader">
                <button type="button" class="close" data-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title">@Localizer["PackageAmenities"] </h4>
            </div>
            <div class="modal-body">
                <div class="row padbot4">


                    <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div>
                                <label class="lable-color">@Localizer["OptionType"] </label>
                                <select class="selectpicker" data-live-search="false" id="cboOptionType" title="" onchange="fnHideshowImageDiv(this);">
                                    <option value="0">Select</option>
                                    <option value="Amenities">Amenities</option>
                                    <option value="IMG">IMG</option>
                                    <option value="Inclusions">Inclusions</option>
                                    <option value="Refundpolicy">Refund Policy</option>
                                    <option value="CancellationPolicy">Cancellation Policy</option>
                                    <option value="TXT">TXT</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="txtSerialNumber">@Localizer["SerialNumber"] </label>
                            <input id="txtSerialNumber" class="form-control" maxlength="9" type="text" data-inputmask="'mask': '9', 'repeat': 10, 'greedy' : false" />
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="divimage">
                        <div class="form-group">
                            <label> @Localizer["Photo"] <span class="lblInfo"> (Only Jpg & png format)</span></label>
                            <div class="imagedig" style="border:thin; padding-bottom:5px;" id="imgPhoto">
                                <img id="imgPhotoimageblah" src="">
                                <input class="mdl-textfield__input fullwidth FileUpload" id="Photoimage" type="file" name="file" onchange="readPhotoimage(this);" accept='image/*' enctype="multipart/form-data" style="border-bottom:none !important" />
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12" id="divOptionValue">
                        <div class="form-group">
                            <label for="txtOptionValue">@Localizer["OptionValue"] </label>
                            <input id="txtOptionValue" class="form-control" type="text" autocomplete="off" maxlength="500" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="txtOptionDesc">@Localizer["OptionDescription"] </label>
                            <input id="txtOptionDesc" class="form-control" type="text" autocomplete="off" maxlength="500" />
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="default-checkbox separate">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chkActiveStatus">
                                <input type="checkbox" id="chkActiveStatus" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">@Localizer["Active"] </span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button" id="btnSavePackageAmenities" onclick="fnSavePackageAminities();">
                            <i class="fa fa-save"></i> @Localizer["Save"]
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-dismiss="modal" id="btnCancelPackageAmenities"><i class="fa fa-times"></i> @Localizer["Cancel"] </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="btndeActivePackageAmenities" onclick="fnDeletePackageAminities();"><i class="fa fa-times"></i> @Localizer["DeActivate"] </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var sizeLimit = 1024 * 2;

    function readPhotoimage(input) {
        if (input.files && input.files[0]) {

            var sizeInMb = input.files[0].size / 1024;

            if (!(input.files[0].type.match(/image.*/))) {
                toastr.warning("Invalid format file uploaded");
                input.value = null;
                return;
            }
            if (sizeInMb > sizeLimit) {
                toastr.warning("Image file size should be smaller than 2 MB");
                input.value = null;
                return;
            }

            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('imgPhotoimageblah').src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>







