@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["ServiceUnits"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
  // var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRoles;
}
@*<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');
</script>*@
@section scripts{
    <script src="~/js/jsTree.js"></script>
    <link href="~/css/jsTree.css" rel="stylesheet" />
    <script src="~/js/eSyaClinicalServices/SpecialtyUnits/SpecialtyUnits.js"></script>
}

<div class="row padbot10">

    <div class="col-lg-3  col-md-4 col-sm-8 col-xs-12">
        <div class="form-group">
            <label> @Localizer["BusinessLocation"] </label>
            <select class="selectpicker" data-live-search="true" id="cboBusinessKey" title="@Localizer["Select"]" data-size="8" asp-items="@ViewBag.BusinessKey" onchange="fnLoadGrid()"></select>

        </div>
    </div>
</div>
<div class="row padbot10">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table id="jqgSpecialtyUnits"></table>
        <div id="jqpSpecialtyUnits"></div>
    </div>
</div>

<div class="modal fade in" id="PopupEditUnitsValidity" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style="box-shadow:none;">
        <div class="modal-content">
            <div class="modal-header popupHeader">
                <button type="button" class="close ml-auto" data-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title">Edit Units Validity</h4>
            </div>

            <div class="modal-body">
                <input type="hidden" id="hdSPID" />
                <div class="row">
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label> @Localizer["Specialty"]</label>
                            <input id='txtSpecialty' type="text" class='form-control' readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label class="lable-color"> @Localizer["FromDate"]</label>
                            <input type="date" name="fromdate" value="" class="form-control" id="txtfromdate" />
                        </div>
                    </div>
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label> @Localizer["NoOfUnints"]</label>
                            <input id='txtNUnits' type="number" min="0" class='form-control d-inline'>
                        </div>
                    </div>
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button"
                                    id="btnAddUnit" onclick="fnAddSpecialtyUnitsValidity()">
                                <i class="fa fa-save"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <table id="jqgUnitsDetail"></table>
                            <div id="jqpUnitsDetail"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-dismiss="modal"><i class="fa fa-times"></i> Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="PopupEditIPInfo" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style="box-shadow:none;">
        <div class="modal-content">
            <div class="modal-header popupHeader">
                <button type="button" class="close ml-auto" data-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title">Edit IP Info</h4>
            </div>

            <div class="modal-body">
                <input type="hidden" id="hdSPId" />
                <div class="row">
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label> @Localizer["Specialty"]</label>
                            <input id='txtspecialty' type="text" class='form-control' readonly>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label> @Localizer["NewPatient"]</label>
                            <input id='txtNPatient' type="number" min="0" class='form-control d-inline'>
                        </div>
                    </div>
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label> @Localizer["RepeatPatient"]</label>
                            <input id='txtRPatient' type="number" min="0" class='form-control d-inline'>
                        </div>
                    </div>
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label> @Localizer["NoOfMaleBeds"]</label>
                            <input id='txtMBed' type="number" min="0" class='form-control d-inline'>
                        </div>
                    </div>
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label> @Localizer["NoOfFemaleBeds"]</label>
                            <input id='txtFBed' type="number" min="0" class='form-control d-inline'>
                        </div>
                    </div>
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label> @Localizer["NoOfCommonBeds"]</label>
                            <input id='txtCBed' type="number" min="0" class='form-control d-inline'>
                        </div>
                    </div>
                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <label> @Localizer["MaxStayAllowed"]</label>
                            <input id='txtMStay' type="number" min="0" class='form-control d-inline'>
                        </div>
                    </div>



                    <div class='col-lg-4 col-md-6 col-sm-12'>
                        <div class="form-group">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button"
                                    id="btnAddIPInfo" onclick="fnAddOrUpdateIPInfo()">
                                <i class="fa fa-save"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-dismiss="modal"><i class="fa fa-times"></i> Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var localization = {
        SpecialtyID: '@Localizer["SpecialtyID"]',
        SpecialtyDesc: '@Localizer["SpecialtyDesc"]',
        Units: '@Localizer["Units"]',
        FromDate: '@Localizer["FromDate"]',
        NoOfUnints: '@Localizer["NoOfUnints"]',
        IPInfo: '@Localizer["IPInfo"]',

        NewPatient: '@Localizer["NewPatient"]',
        RepeatPatient: '@Localizer["RepeatPatient"]',
        NoOfMaleBeds: '@Localizer["NoOfMaleBeds"]',
        NoOfFemaleBeds: '@Localizer["NoOfFemaleBeds"]',
        NoOfCommonBeds: '@Localizer["NoOfCommonBeds"]',
        MaxStayAllowed: '@Localizer["MaxStayAllowed"]',
    }
</script>
