@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ETM_08_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script src="~/js/TokenSystem/TokenManagement.js"></script>
    <script src="~/js/utility/cf-component.js"></script>
}

@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}
<script>
        var localization = {
            Floor: '@Localizer["Floor"]',
            FloorId: '@Localizer["Counter"]',
        }
</script>
<div class="row">

    <div class="form-group col-sm-12 col-md-4 col-lg-3">
        <label for="">@Localizer["Floor"]</label>
        <select class="selectpicker" data-live-search="true" onchange="fnLoadCounters()" id="cboFloor" title="Select" data-size="4" data-container="body" asp-items="@ViewBag.Floors"></select>
    </div>
    <div class="form-group col-sm-12 col-md-4 col-lg-3">
        <label for="">@Localizer["Counter"]</label>
        <select class="selectpicker" data-live-search="true" id="cboCounter" onchange="fnGetTokenTypes()" title="Select" data-size="4" data-container="body"></select>
    </div>

</div>
<div class="row">
    <input type="hidden" id="hdvTokenType" value="" />
    <div class="col-md-3 col-lg-3" style="padding-right:0px !important">
        <div class="row">

            <div class="col-md-12 col-lg-12" style="display:inline-flex; padding-left:15px !important;padding-right:0px !important">
                <div class="col-md-5 col-lg-5" style="line-height: 2.4; padding-left:0px !important;padding-right:0px !important">
                    <button type='button' class='btn btn-primary' onclick=fnNextToken() style="width:100%;"><i></i> Next</button>
                    <button type='button' class='btn btn-primary' onclick=fnRecallToken() style="width:100%;"><i></i> Recall</button>
                    <button type='button' class='btn btn-primary' onclick=fnHoldToken() style="width:100%;"><i></i> Hold</button>
                </div>
                <div class="col-md-7 col-lg-7 token_currentserving" style=" padding-left:5px !important;padding-right:0px !important;vertical-align: top;">
                    <table>
                        <tr class="header">
                            <th>Currently Serving</th>
                        </tr>
                        <tr>
                            <td><label class="token_display" id="lblCurrentlyServingToken">0</label></td>
                        </tr>
                        <tr style=" ">
                            <td style="color:coral;padding:6px;"><label class="token_timer" id="lblTokenTimer">00:00</label></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12" style="display:inline-flex; margin-top:5px; padding-left:15px !important;padding-right:0px !important">
                <button type='button' class='btn btn-primary' onclick=fnCounterCompleted() style="width:100%;"><i></i> Completed</button>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-lg-9" style=" margin-top:10px;" id="dvGridData">
       
    </div>
</div>





