@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ETM_02_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/jquery.contextMenu.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/js/jquery.contextMenu.min.js"></script>
    <script src="~/js/TokenSystem/TokenCounter.js"></script>
}

@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}
<script>
     var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');
        var localization = {
            AddTokenCounter: '@Localizer["AddTokenCounter"]',
            EditTokenCounter: '@Localizer["EditTokenCounter"]',
            ViewTokenCounter: '@Localizer["ViewTokenCounter"]',
            CounterNumber: '@Localizer["CounterNumber"]',
            Floor: '@Localizer["Floor"]',
            FloorId: '@Localizer["FloorId"]',
            BusinessKey: '@Localizer["BusinessKey"]',
            Edit: '@Localizer["Edit"]',
            Active: '@Localizer["Active"]',
            Actions: '@Localizer["Actions"]',
            View: '@Localizer["View"]',
            Save: '@Localizer["Save"]',
            Update: '@Localizer["Update"]',
            Delete: '@Localizer["Delete"]',
            Activate: '@Localizer["Activate"]',
            DActivate: '@Localizer["Deactivate"]',
        }
</script>

<div class="row">

    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
            <label>@Localizer["BusinessLocation"]</label>
            @await Component.InvokeAsync("UserBusinessLocation")
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table id="jqgTokenCounter"></table>
        <div id="jqpTokenCounter"></div>
    </div>
</div>

<div class="modal fade in" id="PopupTokenCounter" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document" style="box-shadow:none;">
        <div class="modal-content ">
            <div class="modal-header popupHeader">
                <button type="button" class="close ml-auto" data-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title">@Localizer["AddTokenCounter"] </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-6">
                        <div class="form-group">
                            <label for="">@Localizer["Floor"]</label>
                            <select class="selectpicker" data-live-search="true" id="cboFloor" title="Select" data-size="4" data-container="body" asp-items="@ViewBag.Floors">
                                <option value="0">@Localizer["Select"]  </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="txtCounterNumber">@Localizer["CounterNumber"] </label>
                            <input type="text" id="txtCounterNumber" class="form-control" maxlength="20" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chkActiveStatus">
                            <input type="checkbox" id="chkActiveStatus" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">@Localizer["Active"]</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button" id="btnSaveTokenCounter" onclick="fnSaveTokenCounter()">
                            <i class="fa fa-save"></i> @Localizer["Save"]
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-dismiss="modal" id="btnCancelTokenCounter"><i class="fa fa-times"></i> @Localizer["Cancel"]  </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="btndeActiveTokenCounter" onclick="fnDeleteTokenCounter()"><i class="fa fa-times"></i>@Localizer["Deactivate"]   </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








