
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "ELE_3_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/js/Localize/LanguageController.js"></script>
}
@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}
<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');

     var localization = {
         ResourceName: '@Localizer["ResourceName"]',
         Key: '@Localizer["Key"]',
         Value: '@Localizer["Value"]',
         Active: '@Localizer["Active"]',
         Actions: '@Localizer["Actions"]',
         Edit: '@Localizer["Edit"]',
         View: '@Localizer["View"]',
         Save: '@Localizer["Save"]',
         Cancel: '@Localizer["Cancel"]',
         AddLanguageController: '@Localizer["AddLanguageController"]',
         UpdateLanguageController: '@Localizer["UpdateLanguageController"]',
         Update:'@Localizer["Update"]',
         ViewLanguageController: '@Localizer["ViewLanguageController"]',
         Delete: '@Localizer["Delete"]',
         DeActivate: '@Localizer["DeActivate"]',
         Activate: '@Localizer["Activate"]',
    };
</script>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="form-group">
            <label class="lable-color">@Localizer["ResourceName"] </label>
            <select class="selectpicker" data-live-search="true" id="cboResource" title="" onchange="fnGridLoadLanguageController()" data-size="10">
                <option value="All"> All</option>
                @if (ViewBag.Controllers != null)
                {
                    foreach (var ctrlname in ViewBag.Controllers)
                    {
                        <option value="@ctrlname">@ctrlname</option>
                    }

                }
            </select>
        </div>
    </div>
</div>
<div class="row padbot10">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table id="jqgLanguageController"></table>
        <div id="jqpLanguageController"></div>
    </div>
</div>


<div class="modal fullscreen fade in" id="PopupLanguageController" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg  " role="document" style="box-shadow:none;">
        <div class="modal-content ">
            <div class="modal-header popupHeader">
                <button type="button" class="close ml-auto" data-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title">@Localizer["AddLanguageController"] </h4>
            </div>

            <div class="modal-body">

                <div class="row padbot4">

                    <div class="form-group">
                        <input id="txtResourceId" class="form-control" maxlength="10" type="text" style="display:none" />
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                        <label class="lable-color">@Localizer["ResourceName"] </label>
                        <select class="selectpicker" data-live-search="false" id="cboPopupResource" title="" data-size="5">
                            <option value="0">@Localizer["SelectResource"] </option>
                            @if (ViewBag.Controllers != null)
                            {
                                foreach (var ctrlname in ViewBag.Controllers)
                                {
                                    <option value="@ctrlname">@ctrlname</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="txtKey">@Localizer["Key"]</label>
                            <textarea id="txtKey" class="form-control" rows="4" maxlength="250" onkeypress="return AvoidSpace(event)"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label class="lable-color" for="txtValue">@Localizer["Value"]</label>
                            <textarea id="txtValue" rows="4" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-2  col-md-3 col-sm-6 col-xs-12">
                        <div class="default-checkbox single">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chkActiveStatus">
                                <input type="checkbox" id="chkActiveStatus" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">@Localizer["Active"]</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button" id="btnSaveLanguageController" onclick="fnSaveLanguageController()">
                            @Localizer["Save"]
                        </button>
                        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="btnDeactivateLanguageController" onclick="fnDeleteLanguageController()"><i class="fas fa-ban"></i>  @Localizer["DeActivate"] </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-dismiss="modal" id="#" onclick="fnClearFields()"><i class="fa fa-times"></i> @Localizer["Cancel"]  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

