@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["ServiceManagement"];
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}
<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');
</script>

<link href="~/css/Masters/CustomerCodes.css" rel="stylesheet" />
<link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />
<link href="~/css/jsTree.css" rel="stylesheet" />
@section scripts{
    <script src="~/js/jsTree.js"></script>

    <script src="~/js/eSyaServices/ServiceType.js"></script>
    <script src="~/js/eSyaServices/ServiceGroup.js"></script>
    <script src="~/js/eSyaServices/ServiceClass.js"></script>
    <script src="~/js/eSyaServices/ServiceCode.js"></script>

}
<button onclick="fnLoadContent()">content</button>
<div id="divContent">

</div>

<div class="row d-none">

    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 col-xl-1  animated slideInLeft sidebarSmall">

        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="servicetype-tab" data-toggle="pill" href="#servicetype" role="tab" aria-controls="servicetype" aria-selected="true">  @Localizer["ServiceType"]</a>
            <a class="nav-link" id="servicegroup-tab" data-toggle="pill" href="#servicegroup" role="tab" aria-controls="servicegroup" aria-selected="false">  @Localizer["ServiceGroup"]</a>
            <a class="nav-link" id="serviceclass-tab" data-toggle="pill" href="#serviceclass" role="tab" aria-controls="serviceclass" aria-selected="false">  @Localizer["ServiceClass"]</a>
            <a class="nav-link" id="servicecode-tab" data-toggle="pill" href="#servicecode" role="tab" aria-controls="servicecode" aria-selected="false">  @Localizer["ServiceCode"]</a>

        </div>
    </div>
    <div class="col-lg-11 col-md-10 col-sm-10 col-xl-11 bg-white animated fadeIn delay-1s padleft0 mainbarSmall">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="servicetype" role="tabpanel" aria-labelledby="servicetype-tab">

                @await Html.PartialAsync("_ServiceType")
            </div>
            <div class="tab-pane fade" id="servicegroup" role="tabpanel" aria-labelledby="servicegroup-tab">
                @await Html.PartialAsync("_ServiceGroup")
            </div>
            <div class="tab-pane fade" id="serviceclass" role="tabpanel" aria-labelledby="serviceclass-tab">
                @await Html.PartialAsync("_ServiceClass")
            </div>
            <div class="tab-pane fade" id="servicecode" role="tabpanel" aria-labelledby="servicecode-tab">
                @await Html.PartialAsync("_ServiceCode")
            </div>
        </div>
    </div>

</div>

<script>
    var selectedSection;
    function fnLoadContent() {
        debugger;

        $("#divContent").load('/eSyaServices/ServiceManagement/_ServiceType');
        //$("#servicetype").show();
        //$.ajax({
        //    url: getBaseURL()+'/eSyaServices/ServiceManagement/_ServiceType',
        //    contentType: 'application/html; charset=utf-8',
        //    type: 'GET',
        //    dataType: 'html',
        //    success: (function (result) {
        //        $('#divContent').html(result);
        //        alert(result);
        //    }),
        //    error: (function (xhr, status) {
        //        alert(status);
        //    })
        //});
    }

    var localization = {
        AddServiceType: '@Localizer["AddServiceType"]',
        Save: '@Localizer["Save"]',
        ViewServiceType: '@Localizer["ViewServiceType"]',
        EditServiceType: '@Localizer["EditServiceType"]',
        Update: '@Localizer["Update"]',
        AddServiceGroup: '@Localizer["AddServiceGroup"]',
        ViewServiceGroup: '@Localizer["ViewServiceGroup"]',
        EditServiceGroup: '@Localizer["EditServiceGroup"]',
        Doyouwanttomovenode: '@Localizer["Doyouwanttomovenode"]',
        AddServiceClass: '@Localizer["AddServiceClass"]',
        ViewServiceClass: '@Localizer["ViewServiceClass"]',
        EditServiceClass: '@Localizer["EditServiceClass"]',
        AddService: '@Localizer["AddService"]',
        ViewService: '@Localizer["ViewService"]',
        EditService: '@Localizer["EditService"]',
    }


</script>
