@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="row">
    <input type="hidden" id="hdvDoctorScheduleChangeDate" value="" />
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
            <label>@Localizer["Location"]</label>
            @*<select class="selectpicker" data-live-search="true" title="Select" id="cboDoctorScheduleChangeLocation" asp-items="@ViewBag.BusinessKeyList" onchange="fnLoadScheduleChangeSpecialty()"></select>*@
            <select class="selectpicker" data-live-search="true" title="" id="cboDoctorScheduleChangeLocation"  onchange="fnLoadScheduleChangeSpecialty()"></select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
            <label>@Localizer["Specialty"]</label>
            <select class="selectpicker" data-live-search="true" title="" id="cboDoctorScheduleChangeSpecialty" onchange="fnLoadScheduleChangeClinic()"></select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
            <label>@Localizer["Clinic"]</label>
            <select class="selectpicker" data-live-search="true" title="" id="cboDoctorScheduleChangeClinic" onchange="fnLoadScheduleChangeConsultationType()"></select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
            <label>@Localizer["ConsultationType"]</label>
            <select class="selectpicker" data-live-search="true" title="" id="cboDoctorScheduleChangeConsultationType"></select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
            <label>@Localizer["ScheduleDate"]</label>
            <input id="dtDoctorScheduleChangeDate" class="mdl-textfield__input" type="text" autocomplete="off" onkeydown="return false" />
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
            <label>@Localizer["FromTime"]</label>
            <input id="txtDoctorScheduleChangeFromTime" class="form-control" type="time" autocomplete="off" data-time-format="H:i:s" />
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
            <label>@Localizer["ToTime"]</label>
            <input id="txtDoctorScheduleChangeToTime" class="form-control" type="time" autocomplete="off" data-time-format="H:i:s" />
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="default-checkbox">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chkDoctorScheduleChangeActive">
                <input type="checkbox" id="chkDoctorScheduleChangeActive" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">@Localizer["Active"]</span>
            </label>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <hr />
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-back mr-10 c-white" onclick="fnCloseDoctorMaster()"><i class="fas fa-chevron-left"></i> @Localizer["Back"]</button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button mr-10" id="btnSaveDoctorScheduleChange" onclick="fnSaveDoctorScheduleChange()"><i class="far fa-save"></i>  @Localizer["Save"]</button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button" id="btnClearDoctorScheduleChange" onclick="fnClearDoctorScheduleChangeSave()"><i class="fa fa-redo"></i> @Localizer["Clear"]</button>
    </div>
</div>

<!--End Text Filed Doctor Scheduler Change -->
<!-- Doctor Scheduler Change Grid-->
<div class="row form-group">
    <div class="col-lg-12">
        <table id="jqgDocScheduleChange"></table>
        <div id="jqpDocScheduleChange"></div>
    </div>
</div>

<script>
    $(function () {

        $("#dtDoctorScheduleChangeDate").datepicker({
            dateFormat: _cnfDateFormat,
            minDate: new Date(),
            onSelect: function (date) {
                var startDate = $(this).datepicker('getDate');
                var minDate = $(this).datepicker('getDate');
                startDate.setDate(startDate.getDate() + 30);

            }
        });

    });
</script>