@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ECP_03_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;

}

<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');

    var localization = {
        GenericId: '@Localizer["GenericId"]',
        Generic: '@Localizer["Generic"]',
        DrugFormulaID: '@Localizer["DrugFormulaID"]',
        Formulation: '@Localizer["Formulation"]',
        DrugClass: '@Localizer["DrugClass"]',
        DrugClassId: '@Localizer["DrugClassId"]',
        Dosage: '@Localizer["Dosage"]',
        DosageDesc: '@Localizer["DosageDesc"]',
        DrugForm: '@Localizer["DrugForm"]',
        DrugFormDesc: '@Localizer["DrugFormDesc"]',
        Active: '@Localizer["Active"]',
        Actions: '@Localizer["Actions"]',
        Edit: '@Localizer["Edit"]',
        View: '@Localizer["View"]',
        Save: '@Localizer["Save"]',
        Update: '@Localizer["Update"]',
    };
</script>

@section scripts{
    <script src="~/js/Pharmacy/DrugFormulation.js"></script>
}

<section id="divGrid">
    <div class="row form-group">
        <div class="col-lg-12 col-xl-12 col-sm-12">
            <label>@Localizer["ChooseDrugbyalphabets"]</label>
            <span class="dot">A</span>
            <span class="dot">B</span>
            <span class="dot">C</span>
            <span class="dot">D</span>
            <span class="dot">E</span>
            <span class="dot">F</span>
            <span class="dot">G</span>
            <span class="dot">H</span>
            <span class="dot">I</span>
            <span class="dot">J</span>
            <span class="dot">K</span>
            <span class="dot">L</span>
            <span class="dot">M</span>
            <span class="dot">N</span>
            <span class="dot">O</span>
            <span class="dot">P</span>
            <span class="dot">Q</span>
            <span class="dot">R</span>
            <span class="dot">S</span>
            <span class="dot">T</span>
            <span class="dot">U</span>
            <span class="dot">V</span>
            <span class="dot">W</span>
            <span class="dot">X</span>
            <span class="dot">Y</span>
            <span class="dot">Z</span>
            <span class="dot">All</span>
        </div>
    </div>

    <div class="row padbot10">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table id="jqgDrugBrands"></table>
            <div id="jqpDrugBrands"></div>
        </div>
    </div>
</section>


<section id="divDrugBrandsForm" style="display:none">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group">
                <label class="lable-color"> @Localizer["Generics"]</label>
                <select class="selectpicker" data-live-search="true" id="cboDrugCategory" title="Select" asp-items="@ViewBag.DrugCategoryList" onchange="fnGetGenericDetails()">
                    <option value="0">Select</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12 collapse">
            <div class="form-group">
                <label for="txtFormulationId"> @Localizer["FormulationId"]</label>
                <input id="txtFormulationId" class="form-control" maxlength="10" type="text" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label for="txtFormulation"> @Localizer["Formulation"]</label>
                <input id="txtFormulation" type="text" class="form-control" maxlength="500" />
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label for="txtDrugClass"> @Localizer["DrugClass"]</label>
                <input id="txtDrugClass" type="text" class="form-control" maxlength="200" />
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <label> @Localizer["Dosage"] </label>
                <select class="selectpicker" data-live-search="true" id="cboDosage" title="Select" data-size="8" asp-items="@ViewBag.DosageList">
                    <option value="0">Select</option>
                </select>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <label> @Localizer["DrugForm"] </label>
                <select class="selectpicker" data-live-search="true" id="cboDrugForm" title="Select" data-size="8" asp-items="@ViewBag.DrugFormList">
                    <option value="0">Select</option>
                </select>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="default-checkbox">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chkActiveStatus">
                    <input type="checkbox" id="chkActiveStatus" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">@Localizer["Active"]</span>
                </label>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 form-group text-center">
            <hr />
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button m-r-15" id="btnSaveDrugFormulation" onclick="fnSaveDrugFormulation()">
                @Localizer["Save"]
            </button>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button" id="" onclick="fnBackToGrid()"> @Localizer["Cancel"]</button>
        </div>
    </div>
</section>



